# Example 2

AVG()

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The AVG() function returns the average value of a numeric column. 
query = '''
            SELECT AVG(Price)
            FROM Products
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df

   AVG(Price)
0   28.866364

## Close the connection

In [5]:
con.close()