# Example 1

GROUP BY

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The GROUP BY statement groups rows that have the same values into summary rows, like "find the number of customers in each country".
# The GROUP BY statement is often used with aggregate functions (COUNT(), MAX(), MIN(), SUM(), AVG()) to group the result-set by one or more columns.
query = '''
            SELECT COUNT(CustomerID), Country
            FROM Customers
            GROUP BY Country
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

   COUNT(CustomerID)    Country
0                  3  Argentina
1                  2    Austria
2                  2    Belgium
3                  9     Brazil
4                  3     Canada

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   COUNT(CustomerID)  21 non-null     int64
 1   Country            21 non-null     object
dtypes: int64(1), object(1)
memory usage: 468.0+ bytes

## Close the connection

In [6]:
con.close()