# Example 1

UNION

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The UNION operator is used to combine the result-set of two or more SELECT statements.
# Every SELECT statement within UNION must have the same number of columns.
# The columns must also have similar data types.
# The columns in every SELECT statement must also be in the same order.
query = '''
            SELECT City 
            FROM Customers
            UNION
            SELECT City 
            FROM Suppliers
            ORDER BY City
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

          City
0       Aachen
1  Albuquerque
2    Anchorage
3    Ann Arbor
4       Annecy

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    94 non-null     object
dtypes: object(1)
memory usage: 884.0+ bytes

## Close the connection

In [6]:
con.close()