# Example 2

LEFT JOIN

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The LEFT JOIN keyword returns all records from the left table (table1), and the matching records from the right table (table2). 
# The result is 0 records from the right side, if there is no match. 
# SELECT column_name(s)
# FROM table1
# LEFT JOIN table2 ON table1.column_name = table2.column_name
query = '''
            SELECT Customers.CustomerName, Orders.OrderID
            FROM Customers
            LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
            ORDER BY Customers.CustomerName
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

                         CustomerName  OrderID
0                 Alfreds Futterkiste      NaN
1  Ana Trujillo Emparedados y helados  10308.0
2             Antonio Moreno Taquería  10365.0
3                     Around the Horn  10355.0
4                     Around the Horn  10383.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerName  213 non-null    object
 1   OrderID       196 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB

## Close the connection

In [6]:
con.close()