# Example 4

Self JOIN

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# A self join is a regular join, but the table is joined with itself.
# T1 and T2 are different table aliases for the same table.
# SELECT column_name(s)
# FROM table1 T1, table1 T2
# WHERE condition
query = '''
            SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
            FROM Customers A, Customers B
            WHERE A.CustomerID <> B.CustomerID AND A.City = B.City 
            ORDER BY A.City
        '''

# <> -> Not equal to

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

                CustomerName1               CustomerName2          City
0  Cactus Comidas para llevar      Océano Atlántico Ltda.  Buenos Aires
1  Cactus Comidas para llevar               Rancho grande  Buenos Aires
2      Océano Atlántico Ltda.  Cactus Comidas para llevar  Buenos Aires
3      Océano Atlántico Ltda.               Rancho grande  Buenos Aires
4               Rancho grande  Cactus Comidas para llevar  Buenos Aires

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerName1  88 non-null     object
 1   CustomerName2  88 non-null     object
 2   City           88 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB

## Close the connection

In [6]:
con.close()