# Example 2

DELETE All Records

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# It is possible to delete all rows in a table without deleting the table. This means that the table structure, attributes, and indexes will be intact.
query = '''
            DELETE 
            FROM Customers
        '''
cur.execute(query);

## Show table

In [4]:
query = '''
            SELECT * 
            FROM Customers
        '''
customers_df = pd.read_sql_query(query, con)
customers_df.head()

Empty DataFrame
Columns: [CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country]
Index: []

In [5]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    0 non-null      object
 1   CustomerName  0 non-null      object
 2   ContactName   0 non-null      object
 3   Address       0 non-null      object
 4   City          0 non-null      object
 5   PostalCode    0 non-null      object
 6   Country       0 non-null      object
dtypes: object(7)
memory usage: 132.0+ bytes

## Close the connection

In [6]:
con.close()