# Example 1

CASE 1

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The CASE statement goes through conditions and returns a value when the first condition is met (like an if-then-else statement). 
# So, once a condition is true, it will stop reading and return the result. If no conditions are true, it returns the value in the ELSE clause.
# If there is no ELSE part and no conditions are true, it returns NULL.
query = '''
            SELECT OrderID, Quantity,   CASE 
                                            WHEN Quantity > 30 THEN "The quantity is greater than 30"
                                            WHEN Quantity = 30 THEN "The quantity is 30"
                                            ELSE "The quantity is under 30"
                                        END 
                                        AS QuantityText
            FROM order_details
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

   OrderID  Quantity                     QuantityText
0    10248        12         The quantity is under 30
1    10248        10         The quantity is under 30
2    10248         5         The quantity is under 30
3    10249         9         The quantity is under 30
4    10249        40  The quantity is greater than 30

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       518 non-null    int64
 1   Quantity      518 non-null    int64
 2   QuantityText  518 non-null    object
dtypes: int64(2), object(1)
memory usage: 12.3+ KB

## Close the connection

In [6]:
con.close()