# Example 1

IN

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# The IN operator allows you to specify multiple values in a WHERE clause.
# The IN operator is a shorthand for multiple OR conditions.

query = '''
            SELECT * FROM Customers
            WHERE Country IN ("Germany", "France", "UK")
        '''

## Show table

In [4]:
customers_df = pd.read_sql_query(query, con)
customers_df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
2,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
3,7,Blondel père et fils,Frédérique Citeaux,"24, place Kléber",Strasbourg,67000,France
4,9,Bon app`,Laurence Lebihans,"12, rue des Bouchers",Marseille,13008,France

In [5]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    29 non-null     int64
 1   CustomerName  29 non-null     object
 2   ContactName   29 non-null     object
 3   Address       29 non-null     object
 4   City          29 non-null     object
 5   PostalCode    29 non-null     object
 6   Country       29 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.7+ KB

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()