# Example 2

Two Aliases

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# The following SQL statement creates two aliases, one for the CustomerName column and one for the ContactName column. 
# Note: It requires double quotation marks or square brackets if the alias name contains spaces

query = '''
            SELECT CustomerName AS Customer, ContactName AS [Contact Person]
            FROM Customers
        '''

## Show table

In [4]:
customers_df = pd.read_sql_query(query, con)
customers_df.head()

                             Customer      Contact Person
0                 Alfreds Futterkiste        Maria Anders
1  Ana Trujillo Emparedados y helados        Ana Trujillo
2             Antonio Moreno Taquería      Antonio Moreno
3                     Around the Horn        Thomas Hardy
4                  Berglunds snabbköp  Christina Berglund

In [5]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer        91 non-null     object
 1   Contact Person  91 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()