# Example 3

NOT

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The NOT operator displays a record if the condition(s) is NOT TRUE.
query = '''
            SELECT * 
            FROM Customers
            WHERE NOT Country = "Germany"
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
2,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
3,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
4,7,Blondel père et fils,Frédérique Citeaux,"24, place Kléber",Strasbourg,67000,France

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    80 non-null     int64
 1   CustomerName  80 non-null     object
 2   ContactName   80 non-null     object
 3   Address       80 non-null     object
 4   City          80 non-null     object
 5   PostalCode    80 non-null     object
 6   Country       80 non-null     object
dtypes: int64(1), object(6)
memory usage: 4.5+ KB

## Close the connection

In [6]:
con.close()