# Example 1

EXISTS

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# The EXISTS operator is used to test for the existence of any record in a subquery.
# The EXISTS operator returns TRUE if the subquery returns one or more records.

query = '''
            SELECT SupplierName
            FROM Suppliers
            WHERE EXISTS   (SELECT ProductName 
                            FROM Products 
                            WHERE Products.SupplierID = Suppliers.SupplierID AND Price < 20)
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

                 SupplierName
0               Exotic Liquid
1  New Orleans Cajun Delights
2               Tokyo Traders
3                    Mayumi`s
4               Pavlova, Ltd.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SupplierName  24 non-null     object
dtypes: object(1)
memory usage: 320.0+ bytes

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()