# Example 3

GROUP BY With JOIN

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# The following SQL statement lists the number of orders sent by each shipper.

query = '''
            SELECT Shippers.ShipperName, COUNT(Orders.OrderID) AS NumberOfOrders 
            FROM Orders
            LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
            GROUP BY ShipperName
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

        ShipperName  NumberOfOrders
0  Federal Shipping              68
1    Speedy Express              54
2    United Package              74

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ShipperName     3 non-null      object
 1   NumberOfOrders  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()