# Example 1

INSERT INTO

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [5]:
# The INSERT INTO statement is used to insert new records in a table.

query = '''
            INSERT INTO Customers (CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country)
            VALUES (92, 'Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway')
        '''

cur.execute(query)

# It is possible to write the INSERT INTO statement in two ways:
#     1. Specify both the column names and the values to be inserted.
#     2. If you are adding values for all the columns of the table, you do not need to specify the column names in the SQL query. 
#     However, make sure the order of the values is in the same order as the columns in the table.

## Show table

In [6]:
customers_df = pd.read_sql_query('''SELECT * FROM Customers''', con)
customers_df.tail()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
87,88,Wellington Importadora,Paula Parente,"Rua do Mercado, 12",Resende,08737-363,Brazil
88,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland
91,92,Cardinal,Tom B. Erichsen,Skagen 21,Stavanger,4006,Norway

In [7]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    92 non-null     int64
 1   CustomerName  92 non-null     object
 2   ContactName   92 non-null     object
 3   Address       92 non-null     object
 4   City          92 non-null     object
 5   PostalCode    92 non-null     object
 6   Country       92 non-null     object
dtypes: int64(1), object(6)
memory usage: 5.2+ KB

## Delete changes

In [8]:
query = '''
            DELETE FROM Customers WHERE CustomerID = 92
        '''

cur.execute(query)

## Close the connection

In [9]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()