# Example 1

SELECT Column

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# The SELECT statement is used to select data from a database.
# The data returned is stored in a result table, called the result-set.

query = '''SELECT CustomerName,City FROM Customers'''

## Show table

In [4]:
customers_df = pd.read_sql_query(query, con)
customers_df.head()

                         CustomerName         City
0                 Alfreds Futterkiste       Berlin
1  Ana Trujillo Emparedados y helados  México D.F.
2             Antonio Moreno Taquería  México D.F.
3                     Around the Horn       London
4                  Berglunds snabbköp        Luleå

In [5]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerName  91 non-null     object
 1   City          91 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()