# Example 1

ORDER BY

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The ORDER BY keyword is used to sort the result-set in ascending or descending order.
# The ORDER BY keyword sorts the records in ascending order by default.
query = '''
            SELECT * 
            FROM Customers
            ORDER BY Country
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,12,Cactus Comidas para llevar,Patricio Simpson,Cerrito 333,Buenos Aires,1010,Argentina
1,54,Océano Atlántico Ltda.,Yvonne Moncada,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,1010,Argentina
2,64,Rancho grande,Sergio Gutiérrez,Av. del Libertador 900,Buenos Aires,1010,Argentina
3,20,Ernst Handel,Roland Mendel,Kirchgasse 6,Graz,8010,Austria
4,59,Piccolo und mehr,Georg Pipps,Geislweg 14,Salzburg,5020,Austria

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    91 non-null     int64
 1   CustomerName  91 non-null     object
 2   ContactName   91 non-null     object
 3   Address       91 non-null     object
 4   City          91 non-null     object
 5   PostalCode    91 non-null     object
 6   Country       91 non-null     object
dtypes: int64(1), object(6)
memory usage: 5.1+ KB

## Close the connection

In [6]:
con.close()