# Example 1

HAVING and GROUP BY

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The HAVING clause was added to SQL because the WHERE keyword cannot be used with aggregate functions.
query = '''
            SELECT COUNT(CustomerID), Country
            FROM Customers
            GROUP BY Country
            HAVING COUNT(CustomerID) > 5
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df

   COUNT(CustomerID)  Country
0                  9   Brazil
1                 11   France
2                 11  Germany
3                  7       UK
4                 13      USA

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   COUNT(CustomerID)  5 non-null      int64
 1   Country            5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

## Close the connection

In [6]:
con.close()