# Example 2

HAVING and ORDER BY

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# The HAVING clause was added to SQL because the WHERE keyword cannot be used with aggregate functions.

query = '''
            SELECT COUNT(CustomerID), Country
            FROM Customers
            GROUP BY Country
            HAVING COUNT(CustomerID) > 5
            ORDER BY COUNT(CustomerID) DESC
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

   COUNT(CustomerID)  Country
0                 13      USA
1                 11  Germany
2                 11   France
3                  9   Brazil
4                  7       UK

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   COUNT(CustomerID)  5 non-null      int64
 1   Country            5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()