# Example 1

ANY

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The ANY operator:
# - Returns a boolean value as a result
# - Returns TRUE if ANY of the subquery values meet the condition
# ANY means that the condition will be true if the operation is true for any of the values in the range.
# ANY is not supported in sqlite3! It can be replaced by IN.
query = '''
            SELECT ProductName 
            FROM Products
            WHERE ProductID IN (SELECT ProductID 
                                FROM order_details 
                                WHERE Quantity = 10)
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

                       ProductName
0                            Chais
1                            Chang
2     Chef Anton`s Cajun Seasoning
3  Uncle Bob`s Organic Dried Pears
4                            Konbu

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductName  31 non-null     object
dtypes: object(1)
memory usage: 380.0+ bytes

## Close the connection

In [6]:
con.close()