# Example 2

ALL

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The ALL operator:
# - Returns a boolean value as a result
# - Returns TRUE if ALL of the subquery values meet the condition
# - Is used with SELECT, WHERE and HAVING statements
# ALL means that the condition will be true only if the operation is true for all values in the range. 
query = '''
            SELECT ALL ProductName
            FROM Products
            WHERE TRUE
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

                    ProductName
0                         Chais
1                         Chang
2                 Aniseed Syrup
3  Chef Anton`s Cajun Seasoning
4        Chef Anton`s Gumbo Mix

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductName  77 non-null     object
dtypes: object(1)
memory usage: 748.0+ bytes

## Close the connection

In [6]:
con.close()