# Example 3

Alias for Tables

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The following SQL statement selects all the orders from the customer with CustomerID=4 (Around the Horn). 
# We use the "Customers" and "Orders" tables, and give them the table aliases of "c" and "o" respectively (Here we use aliases to make the SQL shorter).
query = '''
            SELECT o.OrderID, o.OrderDate, c.CustomerName
            FROM Customers AS c, Orders AS o
            WHERE c.CustomerName = "Around the Horn" AND c.CustomerID = o.CustomerID
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df

   OrderID   OrderDate     CustomerName
0    10355  1996-11-15  Around the Horn
1    10383  1996-12-16  Around the Horn

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       2 non-null      int64
 1   OrderDate     2 non-null      object
 2   CustomerName  2 non-null      object
dtypes: int64(1), object(2)
memory usage: 180.0+ bytes

## Close the connection

In [6]:
con.close()