# Example 1

WHERE Clause

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [7]:
# The WHERE clause is used to filter records.
# It is used to extract only those records that fulfill a specified condition

query = '''
            SELECT * FROM Customers
            WHERE Country = "Mexico"
        '''

## Show table

In [8]:
customers_df = pd.read_sql_query(query, con)
customers_df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
2,13,Centro comercial Moctezuma,Francisco Chang,Sierras de Granada 9993,México D.F.,05022,Mexico
3,58,Pericles Comidas clásicas,Guillermo Fernández,Calle Dr. Jorge Cash 321,México D.F.,05033,Mexico
4,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico

In [9]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    5 non-null      int64
 1   CustomerName  5 non-null      object
 2   ContactName   5 non-null      object
 3   Address       5 non-null      object
 4   City          5 non-null      object
 5   PostalCode    5 non-null      object
 6   Country       5 non-null      object
dtypes: int64(1), object(6)
memory usage: 408.0+ bytes

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()