# Example 2

Text Fields vs. Numeric Fields

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# SQL requires single quotes around text values (most database systems will also allow double quotes).
# However, numeric fields should not be enclosed in quotes.
query = '''
            SELECT * FROM Customers
            WHERE CustomerID = 1
        '''

# The following operators can be used in the WHERE clause:
# Operator	Description
# =	        Equal	
# >	        Greater than	
# <	        Less than	
# >=	    Greater than or equal	
# <=	    Less than or equal	
# <>	    Not equal. Note: In some versions of SQL this operator may be written as !=	
# BETWEEN   Between a certain range	
# LIKE	    Search for a pattern	
# IN	    To specify multiple possible values for a column

## Show table

In [4]:
customers_df = pd.read_sql_query(query, con)
customers_df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany

In [5]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    1 non-null      int64
 1   CustomerName  1 non-null      object
 2   ContactName   1 non-null      object
 3   Address       1 non-null      object
 4   City          1 non-null      object
 5   PostalCode    1 non-null      object
 6   Country       1 non-null      object
dtypes: int64(1), object(6)
memory usage: 188.0+ bytes

## Close the connection

In [6]:
con.close()