# Example 4

BETWEEN Text Values

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# The following SQL statement selects all products with a ProductName between Carnarvon Tigers and Mozzarella di Giovanni. 

query = '''
            SELECT * FROM Products
            WHERE ProductName BETWEEN "Carnarvon Tigers" AND "Mozzarella di Giovanni"
            ORDER BY ProductName
        '''

## Show table

In [4]:
products_df = pd.read_sql_query(query, con)
products_df.head()

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,18,Carnarvon Tigers,7,8,16 kg pkg.,62.5
1,1,Chais,1,1,10 boxes x 20 bags,18.0
2,2,Chang,1,1,24 - 12 oz bottles,19.0
3,39,Chartreuse verte,18,1,750 cc per bottle,18.0
4,4,Chef Anton`s Cajun Seasoning,2,2,48 - 6 oz jars,22.0

In [5]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    37 non-null     int64
 1   ProductName  37 non-null     object
 2   SupplierID   37 non-null     int64
 3   CategoryID   37 non-null     int64
 4   Unit         37 non-null     object
 5   Price        37 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.9+ KB

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()