# Example 5

NOT BETWEEN Text Values

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The following SQL statement selects all products with a ProductName not between Carnarvon Tigers and Mozzarella di Giovanni. 
query = '''
            SELECT * 
            FROM Products
            WHERE ProductName NOT BETWEEN "Carnarvon Tigers" AND "Mozzarella di Giovanni"
            ORDER BY ProductName
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,17,Alice Mutton,7,6,20 - 1 kg tins,39.00
1,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00
2,40,Boston Crab Meat,19,8,24 - 4 oz tins,18.40
3,60,Camembert Pierrot,28,4,15 - 300 g rounds,34.00
4,30,Nord-Ost Matjeshering,13,8,10 - 200 g glasses,25.89

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    40 non-null     int64
 1   ProductName  40 non-null     object
 2   SupplierID   40 non-null     int64
 3   CategoryID   40 non-null     int64
 4   Unit         40 non-null     object
 5   Price        40 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 2.0+ KB

## Close the connection

In [6]:
con.close()