# Example 1

BETWEEN

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# The BETWEEN operator selects values within a given range. The values can be numbers, text, or dates.
# The BETWEEN operator is inclusive: begin and end values are included. 

query = '''
            SELECT * FROM Products
            WHERE Price BETWEEN 10 AND 20
        '''

## Show table

In [4]:
products_df = pd.read_sql_query(query, con)
products_df.head()

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,1,Chais,1,1,10 boxes x 20 bags,18.00
1,2,Chang,1,1,24 - 12 oz bottles,19.00
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00
3,15,Genen Shouyu,6,2,24 - 250 ml bottles,15.50
4,16,Pavlova,7,3,32 - 500 g boxes,17.45

In [5]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    29 non-null     int64
 1   ProductName  29 non-null     object
 2   SupplierID   29 non-null     int64
 3   CategoryID   29 non-null     int64
 4   Unit         29 non-null     object
 5   Price        29 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.5+ KB

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()