# Example 3

BETWEEN with IN

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The following SQL statement selects all products with a price between 10 and 20. In addition; do not show products with a CategoryID of 1, 2, or 3. 
query = '''
            SELECT * 
            FROM Products
            WHERE (Price BETWEEN 10 AND 20) AND (CategoryID NOT IN (1, 2, 3))
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,31,Gorgonzola Telino,14,4,12 - 100 g pkgs,12.5
1,36,Inlagd Sill,17,8,24 - 250 g jars,19.0
2,40,Boston Crab Meat,19,8,24 - 4 oz tins,18.4
3,42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.0
4,46,Spegesild,21,8,4 - 450 g glasses,12.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    9 non-null      int64
 1   ProductName  9 non-null      object
 2   SupplierID   9 non-null      int64
 3   CategoryID   9 non-null      int64
 4   Unit         9 non-null      object
 5   Price        9 non-null      float64
dtypes: float64(1), int64(3), object(2)
memory usage: 564.0+ bytes

## Close the connection

In [6]:
con.close()