# Tutorial

To use the module, start by creating a Connection object that represents the database. Here the data will be stored in the example.db file:

In [1]:
import sqlite3
import os

con = sqlite3.connect('example.db')

The special path name :memory: can be provided to create a temporary database in RAM.

Once a Connection has been established, create a Cursor object and call its execute() method to perform SQL commands:

In [2]:
cur = con.cursor()

# Create table
cur.execute('''CREATE TABLE stocks
               (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()

The saved data is persistent: it can be reloaded in a subsequent session even after restarting the Python interpreter:

In [3]:
import sqlite3

con = sqlite3.connect('example.db')
cur = con.cursor()

At this point, our database only contains one row:

In [4]:
res = cur.execute('SELECT count(rowid) FROM stocks')
print(res.fetchone())

(1,)

The result is a one-item tuple: one row, with one column. Now, let us insert three more rows of data, using executemany():

In [5]:
data = [('2006-03-28', 'BUY', 'IBM', 1000, 45.0),
        ('2006-04-05', 'BUY', 'MSFT', 1000, 72.0),
        ('2006-04-06', 'SELL', 'IBM', 500, 53.0)]
cur.executemany('INSERT INTO stocks VALUES(?, ?, ?, ?, ?)', data);

Notice that we used ? placeholders to bind data to the query. Always use placeholders instead of string formatting to bind Python values to SQL statements, to avoid SQL injection attacks. See the placeholders how-to for more details.

Then, retrieve the data by iterating over the result of a SELECT statement:

In [6]:
for row in cur.execute('SELECT * FROM stocks ORDER BY price'):
    print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [7]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()

# Delete database
os.remove('example.db')

Youâ€™ve now created an SQLite database using the sqlite3 module.