# Example 1

IS NULL Operator

## Import libraries

In [7]:
import sqlite3
import pandas as pd

## Create a connection object

In [8]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [9]:
# The IS NULL operator is used to test for empty values (NULL values).
query = '''
            SELECT CustomerName, ContactName, Address
            FROM Customers
            WHERE Address IS NULL
        '''

## Show table

In [10]:
df = pd.read_sql_query(query, con)
df

Empty DataFrame
Columns: [CustomerName, ContactName, Address]
Index: []

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerName  0 non-null      object
 1   ContactName   0 non-null      object
 2   Address       0 non-null      object
dtypes: object(3)
memory usage: 132.0+ bytes

## Close the connection

In [12]:
con.close()