# Example 2

IS NOT NULL Operator

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The IS NOT NULL operator is used to test for non-empty values (NOT NULL values).
query = '''
            SELECT CustomerName, ContactName, Address
            FROM Customers
            WHERE Address IS NOT NULL
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

,CustomerName,ContactName,Address
0,Alfreds Futterkiste,Maria Anders,Obere Str. 57
1,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222
2,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312
3,Around the Horn,Thomas Hardy,120 Hanover Sq.
4,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerName  91 non-null     object
 1   ContactName   91 non-null     object
 2   Address       91 non-null     object
dtypes: object(3)
memory usage: 2.3+ KB

## Close the connection

In [6]:
con.close()