# Example 6

LIKE - select all table rows that does NOT start with "a"

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The following SQL statement selects all customers with a CustomerName that does NOT start with "a".
query = '''
            SELECT * 
            FROM Customers
            WHERE CustomerName NOT LIKE "a%"
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
1,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
2,7,Blondel père et fils,Frédérique Citeaux,"24, place Kléber",Strasbourg,67000,France
3,8,Bólido Comidas preparadas,Martín Sommer,"C/ Araquil, 67",Madrid,28023,Spain
4,9,Bon app`,Laurence Lebihans,"12, rue des Bouchers",Marseille,13008,France

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    87 non-null     int64
 1   CustomerName  87 non-null     object
 2   ContactName   87 non-null     object
 3   Address       87 non-null     object
 4   City          87 non-null     object
 5   PostalCode    87 non-null     object
 6   Country       87 non-null     object
dtypes: int64(1), object(6)
memory usage: 4.9+ KB

## Close the connection

In [6]:
con.close()