# Example 5

LIKE - select all table rows that starts with "a" and ends with "o"

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# Finds any values that start with "a" and ends with "o".
query = '''
            SELECT * 
            FROM Customers
            WHERE ContactName LIKE "a%o"
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
2,69,Romero y tomillo,Alejandra Camino,"Gran Vía, 1",Madrid,28001,Spain

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    3 non-null      int64
 1   CustomerName  3 non-null      object
 2   ContactName   3 non-null      object
 3   Address       3 non-null      object
 4   City          3 non-null      object
 5   PostalCode    3 non-null      object
 6   Country       3 non-null      object
dtypes: int64(1), object(6)
memory usage: 300.0+ bytes

## Close the connection

In [6]:
con.close()