# Example 2

LIKE - select all table rows ending with "a"

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# Finds any values that end with "a"

query = '''
            SELECT * FROM Customers
            WHERE CustomerName LIKE "%a"
        '''

## Show table

In [4]:
customers_df = pd.read_sql_query(query, con)
customers_df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
1,13,Centro comercial Moctezuma,Francisco Chang,Sierras de Granada 9993,México D.F.,05022,Mexico
2,30,Godos Cocina Típica,José Pedro Freyre,"C/ Romero, 33",Sevilla,41101,Spain
3,61,Que Delícia,Bernardo Batista,"Rua da Panificadora, 12",Rio de Janeiro,02389-673,Brazil
4,62,Queen Cozinha,Lúcia Carvalho,"Alameda dos Canàrios, 891",São Paulo,05487-020,Brazil

In [5]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    7 non-null      int64
 1   CustomerName  7 non-null      object
 2   ContactName   7 non-null      object
 3   Address       7 non-null      object
 4   City          7 non-null      object
 5   PostalCode    7 non-null      object
 6   Country       7 non-null      object
dtypes: int64(1), object(6)
memory usage: 520.0+ bytes

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()