# Example 3

LIKE - select all table rows that have "or" in any position

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# Finds any values that have "or" in any position

query = '''
            SELECT * FROM Customers
            WHERE CustomerName LIKE "%or%"
        '''

## Show table

In [4]:
customers_df = pd.read_sql_query(query, con)
customers_df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
1,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
2,36,Hungry Coyote Import Store,Yoshi Latimer,City Center Plaza 516 Main St.,Elgin,97827,USA
3,40,La corne d`abondance,Daniel Tonini,"67, avenue de l`Europe",Versailles,78000,France
4,43,Lazy K Kountry Store,John Steel,12 Orchestra Terrace,Walla Walla,99362,USA

In [5]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    11 non-null     int64
 1   CustomerName  11 non-null     object
 2   ContactName   11 non-null     object
 3   Address       11 non-null     object
 4   City          11 non-null     object
 5   PostalCode    11 non-null     object
 6   Country       11 non-null     object
dtypes: int64(1), object(6)
memory usage: 744.0+ bytes

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()