# Example 4

LIKE - select all table rows that have "r" in the second position

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# Finds any values that have "r" in the second position.
query = '''
            SELECT * 
            FROM Customers
            WHERE CustomerName LIKE "_r%"
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
1,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
2,20,Ernst Handel,Roland Mendel,Kirchgasse 6,Graz,8010,Austria
3,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
4,26,France restauration,Carine Schmitt,"54, rue Royale",Nantes,44000,France

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    11 non-null     int64
 1   CustomerName  11 non-null     object
 2   ContactName   11 non-null     object
 3   Address       11 non-null     object
 4   City          11 non-null     object
 5   PostalCode    11 non-null     object
 6   Country       11 non-null     object
dtypes: int64(1), object(6)
memory usage: 748.0+ bytes

## Close the connection

In [6]:
con.close()