# Example 1

LIKE - select all table rows starting with "a"

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../Database.db')
cur = con.cursor()

## SQL statement

In [3]:
# The LIKE operator is used in a WHERE clause to search for a specified pattern in a column.
# There are two wildcards often used in conjunction with the LIKE operator:
# - The percent sign (%) represents zero, one, or multiple characters.
# - The underscore sign (_) represents one, single character'.
query = '''
            SELECT * 
            FROM Customers
            WHERE CustomerName LIKE "a%"
        '''

## Show table

In [4]:
df = pd.read_sql_query(query, con)
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    4 non-null      int64
 1   CustomerName  4 non-null      object
 2   ContactName   4 non-null      object
 3   Address       4 non-null      object
 4   City          4 non-null      object
 5   PostalCode    4 non-null      object
 6   Country       4 non-null      object
dtypes: int64(1), object(6)
memory usage: 356.0+ bytes

## Close the connection

In [6]:
con.close()